@charset "UTF-8";
/* CSS Document */

body{
    background-color: #85B1B5;
}

.container{
    background-color: white;
    margin-bottom: 130px;
}

p{
    font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	line-height: 24px;
	padding: 20px;
	display:flex;
}

a{
    /* when you don't want glitchy ugly cursive to show 
    up just make it a different font-type to default to */
	font-family: 'Big Shoulders Text', sans-serif;
	text-transform:uppercase;
	font-size: 26px;
	letter-spacing: 2px;
	color: dimgray;
	text-decoration: none;
	padding-left: 20px;
}
.navbar-brand{
    color: white;
}

h1{
    color:white;
    font-family: 'Big Shoulders Text', sans-serif;
	text-transform:uppercase;
	font-size: 42px;
    letter-spacing: 5px;
    margin: none;
}

h2{
    font-family: 'Big Shoulders Text', sans-serif;
    font-size: 36px;
    color: #666666
}

h3{
    font-family: 'Big Shoulders Text', sans-serif;
    letter-spacing: 1px;
    font-size: 32px;
    color:#666666;
    padding: 5px;
    text-align: center;
    align-content: center;
}
.absolute{
	position:absolute;
	bottom: -15px;
	left: 0px;
    background-color: #85B1B5;
    width: 250px;
	height: 50px;
    text-align: center;
}

.relative{
	position: relative;
	/* flex-direction:row; */
	width: 250px;
	height: 250px;
	justify-content: center;
}

.footer{
    background-color:#666666;
    height: 90px;
    margin-top: 90px;
    color: white;
}

.btn-primary{
    background-color: #85B1B5 ;
    border-color: #85B1B5;
    align-content: center;
    justify-content: center;
}

.graybox{
    position: relative;
    background-color:#666666;
    height:90px;
    padding: 15px 0px;
}

.headnav{
    background-color: white;
    height: 90px;
    width: auto;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
}
.nav{
    /* background-color: white;
    height: 90px;
    width: auto;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
} */

.form-group{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}


.header{
    background-color: white;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #85B1B5;
  }
