@charset "UTF-8";
/* CSS Document */

body{
background-color: #8cdade;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ff621f' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23d3f511' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e57900' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23fcba00' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c68b00' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ff7a1e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23a39900' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23fb354e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%237ea300' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23cf0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2350aa20' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.container{
    background-color: white;
    margin: 0px auto;
	margin-top: 50px;
	margin-bottom: 150px;
    padding: 20px 10px 10px 10px;
}

/* styles and positions top gray title box  */
.graybox{
    position: relative;
    background-color:black;
    height:90px;
    padding: 15px 0px;
}

/* styles and positions top navigation */
.headnav{
    background-color: white;
    height: 90px;
    width: auto;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* font stuff 32-86*/
p{
    font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	line-height: 24px;
	padding: 20px;
	display:flex;
}
p @media (min-width: 576px){
    font-size: 32px;

}

a{
    /* when you don't want glitchy ugly cursive to show 
    up just make it a different font-type to default to */
	font-family: 'Big Shoulders Text', sans-serif;
	text-transform:uppercase;
	font-size: 26px;
	letter-spacing: 2px;
	color: dimgray;
	text-decoration: none;
	padding-left: 20px;
}

/* Change link hover color - such aesthetic */
a:hover{
    color:#8CDADE;
}

a.port-link{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: white;
	text-transform: capitalize;
	text-decoration: none;
}

a.port-link:hover{
	color:black
		
	
}

/* styles headings */
h1{
    color:white;
    font-family: 'Big Shoulders Text', sans-serif;
	text-transform:uppercase;
	font-size: 42px;
    letter-spacing: 5px;
    margin: none;
}

h2{
    font-family: 'Big Shoulders Text', sans-serif;
    font-size: 36px;
    color: #666666
}

h3{
    font-family: 'Big Shoulders Text', sans-serif;
    letter-spacing: 1px;
    font-size: 32px;
    color:#666666;
    padding: 5px;
    text-align: center;
    align-content: center;
}

.form-group{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* sets the position of the portfolio project captions over their associated image  */
.absolute{
	position:absolute;
	bottom: -15px;
	left: 20px;
    background-color: black;
    width: 250px;
	height: 50px;
    text-align: center;
	justify-content: center;
}

/* sets size & postition and pairs image with caption */
.relative{
	position: relative;
	width: 250px;
	height: 250px;
	justify-content: center;
}

/* styles footer  */
.footer{
	align-content: center;
	justify-content: center;
	width: 100%;
    background-color:black;
    height: auto;
    margin-top: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

a.footnav{
	color: white;
}
a.footnav:hover{
	color:#8CDADE;
	text-decoration: none;
}

.resources{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: gray;
	padding: none;
}

/* Styles submit button on contact page  */
.btn-primary{
	font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #8CDADE ;
    border-color: #8CDADE;
    align-content: center;
    justify-content: center;
}
.btn-primary:hover{
	background-color: #666666;
	border-color: #666666;
}

.container2{
	background-color: none;
	align-content: center;
}

.peets {
	align-content: center;
	justify-content: center;
}


.contactli{
	font-size: 18px;
	color: white;
	text-align: center;
	padding: 5px;
	margin: 5px;
	
}

a.contactli: hover{
	color: #85B1b5;
	text-decoration: none;
}

.foot-item{
	justify-content: center;
	color:white;
	display: inline-flex;
	flex-wrap: wrap;
}



